/* Base Styles */
* {
	box-sizing: border-box;
}

h1 {
	font-family: "Arial",sans-serif;
	font-size:bold;
}

body {
	background-color: #A0FFED;
}

.container {
	border: none;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	margin-bottom: 10px;
	padding: 10px;
}

.navbar-brand {
  font-size: 2em;
  border: 0 0 10px 10px;
  color: #FFFFFF;
  margin-bottom:20px;

}

#header-nav {
  border: 0;
  background-color: #00DD66;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid #61122f;
}
.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -30px;
}

.nav-brand {
  color: #FFFFFF;
  font-size: 1.5em;
  }

#nav-list {
  color: black;
}

hr {
  border-color: white;
}

.item {
  color: #FFFFFF;
  font-size: 1.5em;
  font-size: bold;
  font-family: Georgia,sans-serif;
}

section {
	border:	1px solid black;
	background-color: #00DDDD;
	width: 100%;
	height: auto;
	font-family: Helvetica,sans-serif;
	color: black;
	position: relative;
	overflow: hidden;
}

#chicken {
	border: none;
  	width: 30%;
  	margin:0 auto;
	text-align: center;
	font-family: Georgia,sans-serif;
	font-weight: bold;
	font-size: 125%;
	padding: 5px;
	background-color: #FFFF00;
}

#beef {
	border: none;
	width: 30%;
	margin:0 auto;
	text-align: center;
	font-family: Georgia,sans-serif;
	font-weight: bold;
	font-size: 125%;
	padding: 5px;
	background-color: #FF1439;
}

#sushi {
	border: none;
	width: 30%;
	margin:0 auto;
	text-align: center;
	font-family: Georgia,sans-serif;
	font-weight: bold;
	font-size: 125%;
	padding: 5px;
	background-color: #6495ED;
}

p {
	padding: 10px;
	margin: 0;
	padding-top:20px;
}

#chicken-div {
  margin-bottom: 10px;
  margin-top: 10px;
}

#beef-div {
  margin-bottom: 10px;
  margin-top: 10px;
}

#sushi-div {
  margin-bottom: 10px;
  margin-top: 10px;
}

